<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/common :: [//head]" />
    <body>
        <div th:replace="fragments/menu"></div>
        <div class="container">
            <h1 th:text="#{categories}" />
            <a th:href="@{/category/create}" th:text="#{createCategory}" class="btn btn-success" />
            <ul>
                <li th:each="category : ${categories}">
                    <span th:text="${category.name}"></span>
                    <a th:href="@{/category/edit(id=${category.id})}"><i class="fa fa-pencil"></i></a>
                    <a th:href="@{'/category/delete/' + ${category.id}}"><i class="fa fa-remove"></i></a>
                </li>
            </ul>
        </div>
        <div th:replace="fragments/menu_pages"></div>
        <!--/* Footer */-->
        <div th:replace="fragments/common :: [//div[@class='footer']]"></div>
        <!--/* Scripts includes are placed at the end of the document so the pages load faster */-->
        <div th:replace="fragments/common :: [//div[@id='scripts']]"></div>	
    </body>
</html>