<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="webappscours" />
    <meta name="author" content="sment" />
    
	<link rel="stylesheet" type="text/css" th:href="@{/static/theme/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/theme/font-awesome/css/font-awesome.min.css}" />

	<title>Miage cours web apps</title>
</head>

<div class="footer">
	<div class="container">
   		<p class="text-muted">M2 WebApps 2018</p>
	</div>
</div>

<div id="scripts" th:remove="tag">
	<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/theme/bootstrap/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/theme/bootstrap/js/bootstrap.min.js}"></script>
</div>